.btn-global{
    color: #fff;
    background-color: #428bca;
    border-color: #133783;
}
.btn-facebook {
    color: #fff;
    background-color: #3B5998;
    border-color: #133783;
}
.btn-twitter {
    color: #fff;
    background-color: #2daddc;
    border-color: #0271bf;
}
.btn-google-plus {
    color: #fff;
    background-color: #dd4b39;
    border-color: #c53727;
}
.btn-github {
    color: #fff;
    background-color: #fafafa;
    border-color: #ccc;
}
.login-option{
    margin-top:10px;
}
