.KFScaffoldMenu {
    font-size: 10px;
    /*text-align: center; no effect*/
}

.KFSupportButton {
    margin: 1px 2px 1px !important;
    cursor: pointer !important;
    border: 1px solid !important;
    border-color: #efb137 !important;
    border-radius: 9px !important;
    padding: 0px 7px 0px 7px !important;
    /*width: 100px;*/
    overflow: hidden;
    text-align: center !important;
    font-size: 0.91em !important;
    height: 25px !important;
}
.KFSupportButton:hover {
    color: #FFFFFF;
    background-color: #E48E00;
}
.KFSupportButton:active {
    color: #000000;
    background-color: #E48E00;
}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
    padding: 0px;
    text-indent: -9999999px;
}
